@import url("style.css");

h1 {
    width: 100%;
    color: white;
}

.bannerSection {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.knapText {
    position: absolute;
    top: 45%;
}

.banner {
    margin-top: 4rem;
}

#videoBilled {
    width: 100%;
}
